---
layout: default
---
<div style="margin-top: 1em;">
<h1>Welcome to the MMS wiki  ✌( ﾟヮﾟ) </h1>
<div style="margin-top: 2em;">
<h3>Choose a topic below or go into the <a href="{{ '/archive' | relative_url }}">Archive</a> for the site map:</h3>

<ul>
  <li><a href="{{ '/new-to-mms/' | relative_url }}">New to MMS? Get started here!</a></li>
  <li><a href="{{ '/programs-and-tools/' | relative_url }}">Programs and Tools</a></li>
  <li><a href="{{ '/tutorials/' | relative_url }}">Tutorials</a></li>
  <li><a href="{{ '/useful-info/' | relative_url }}">Useful information and commands</a></li>
</ul>


<div style="margin-top: 12em; display: flex; gap: 2em; flex-wrap: wrap;">
  <div style="flex: 1; min-width: 250px;">
    <h2>ᕕ( ﾟヮﾟ)ᕗ Notice Board</h2>
    <ul>
      {% assign pinned_posts = site.posts | where: "pinned", true | where: "category", "post" %}
{% for post in pinned_posts %}
      <div style="margin-bottom: 2em;">
	<h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
	<div>{{ post.content | markdownify }}</div>
      </div>
      {% endfor %}
    </ul>
  </div>
  <div style="flex: 1; min-width: 250px;">
    <h2>Pinned Pages 👇( ｡ ‿ ｡ ) </h2>
    <ul>
      {% assign pinned_pages = site.pages | where: "pinned", true | where: "category", "page" %}
      {% for page in pinned_pages %}
        <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
