---
layout: default
---

<h1>Welcome to the MMS wiki ヾ(＾▽＾)ﾉ</h1>
<h3>Choose a topic below or go into the <a href="{{ '/archive' | relative_url }}">Archive</a> for the site map:</h3>

<ul>
  <li><a href="{{ '/new-to-mms/' | relative_url }}">New to MMS? Get started here!</a></li>
  <li><a href="{{ '/programs-and-tools/' | relative_url }}">Programs and Tools</a></li>
  <li><a href="{{ '/tutorials/' | relative_url }}">Tutorials</a></li>
  <li><a href="{{ '/useful-info/' | relative_url }}">Useful information and commands</a></li>
</ul>

<h2>Pinned Pages</h2>
<ul>
  {%- assign pinned_pages = site.pages | where_exp:"page", "page.pinned == true" -%}
  {%- for p in pinned_pages -%}
    <li><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
  {%- endfor -%}
</ul>
